@model IEnumerable<MotoFanpage.Models.Ogólne.Profil>

@{
    ViewBag.Title = "Index";
}




<div style="text-align:center">
    @using (Html.BeginForm("Index", "Profil", FormMethod.Get))
    {
<div class="row" style="margin:10px;text-align:center">
 
    <div class="col-md-4"><p>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)</p></div>
   




    <input type="submit" value="Szukaj" class="btn btn-group-justified" />
</div>}
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="row">

                <div class="col-md-4"></div>
                <div class="col-md-4">  <img src="~/Obrazki/@item.Zdjecie" width="100px" alt="" style="border-radius:100px" /></div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">

                @Html.ActionLink(item.Name + " " + item.Surname, "DetailsOther", new { id = item.ID })

            </div>




        </div>
        <hr />
    }
</div>

